:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #19191b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* -------------------------- */

/* Keyboard Stuff */

.key {
  background-color: #f0f0f0;
  border: 6px solid #ccc;
  border-radius: 1vw;
  padding: 0px;
  aspect-ratio: 1 / 1;
  min-width: 0;
  width: 100%;
}

.name-key {
  background-color: #f0f0f0;
  border: 6px solid #ccc;
  border-radius: 1vw;
  padding: 0px;
  aspect-ratio: 2 / 1;
  min-width: 0;
  width: 100%;
}

.key-active {
  background-color: #f0f0f0;
  border: 6px solid #ca9335;
}

.key-text {
  color: #435058;
  font-size: 3.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.key-grid {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  box-sizing: border-box;
  flex: 0 0 auto;
  max-width: 100%;
  overflow: hidden;
}

.key-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  min-width: 0;
}

.fill-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Calibration Stuff */

.calibration-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 99999;
}

.calibration-point {
  position: absolute;
  width: 5vw;
  height: 5vw;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgb(255, 135, 135);
}

.calibration-text {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: white;
}

/* Top Bar */

.top-bar-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 12vh;
  margin: 10px 0;

  box-sizing: border-box;
  flex-shrink: 0;
}

.top-bar-input {
  background-color: #f0f0f0;
  border: 6px solid #ccc;
  border-radius: 1vw;
  margin: 0;

  padding: 0 10px;
  display: flex;
  align-items: center;
}

.top-bar-input-text::selection {
  background-color: transparent;
}
input.top-bar-input-text:focus {
  outline: none;
}

.top-bar-input-text {
  background-color: transparent;
  border: none;
  color: #19191b;
  font-size: 5vh;

  line-height: 1;

  width: 100%;
  user-select: none;
  caret-color: transparent;
}

.button-text {
  color: #19191b;
  font-size: 5vh;
  margin: 0;
  line-height: 1;
}
.top-bar-button {
  background-color: #f0f0f0;
  border: 6px solid #ccc;
  border-radius: 1vw;
  padding: 0;
  flex: 1;
}
.top-bar-divider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.top-bar-divider > button:only-child {
  grid-column: 1 / -1;
}

/* Seentence option selectors */

.sentence-container {
  background-color: #006ec2;

  border-radius: 1vw;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  flex: 1;
  min-height: 0;
  flex-direction: row;
  justify-content: space-between;
}

.box-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  min-height: 0;
}
