:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0d1321;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* -------------------------- */

.key {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  aspect-ratio: 1 / 1;
}

.key-active {
  background-color: #f0f0f0;
  border: 2px solid #ab1f1f;
}

.key-text {
  color: #435058;
  font-size: 3vw;

  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.key-grid {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  max-height: 40vh;
}
.key-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.fill-page {
  width: 100%;
  height: 100%;
  /*
  display: flex;

  flex-direction: column;
  justify-content: flex-end;
*/
  padding: 0;
  margin: 0;
}
